name: Build project with gradle and test

on:
  push:
    branches: [ "main", "cicd" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build project with gradle
        uses: gradle/gradle-build-action@v3.5.0
      - name: Execute Gradle build
        run: gradle build
